name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read
      actions: write
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ csharp, javascript-typescript, actions ]

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
  
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: ${{ matrix.language }}
        queries: +security-and-quality
        config-file: ./.github/codeql/codeql-config.yml
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # commit hash for v2

    - name: Restore nuget dependencies
      run: dotnet restore --ignore-failed-sources

    - name: Build API
      run: msbuild /p:Configuration=Release /p:Platform="Any CPU" /m

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: checkmate-web/package-lock.json

    - name: Install npm dependencies
      run: npm ci
      working-directory: ./checkmate-web

    - name: Run ESLint
      run: npm run lint
      working-directory: ./checkmate-web

    - name: Check TypeScript types
      run: npm run type-check
      working-directory: ./checkmate-web

    - name: Check code formatting
      run: npm run format:check
      working-directory: ./checkmate-web

    - name: Build React project
      run: npm run build
      working-directory: ./checkmate-web
